@import '../../style/color.scss';

.intern {
.navbar {
        background-color:$teal5;
        color:$white;
        .navbar-brand {
            color:$white;
        }
        .navbar-form {
            .form-control {
                background-color:$white;   
            }

        }
        .userProfile {
                .user {       
                    .drop {
                        :hover {
                            color:$black;
                            }
                        :active {
                            color:$black;
                        }
                        }
               
                    }
            } 
    }

    .badge1 {

        :hover {
            background-color: $black;
        }
        }
.badge1[data-badge]:after {
   background:green;
   color:$white;
   box-shadow:0 0 1px #333;
}

 .badge2 {
    :hover {
        background-color:$black;
        }
        :active {
             background-color:$white;
        }
     }
.badge2[data-badge]:after {

   background:green;
   color:$white;
   box-shadow:0 0 1px #333;
}
}