
@import './content.intern.scss';
    .main {
        position:absolute;
        height:90vh;
        width:100%;
        top:5vh;
        display: flex;

        .content {
            position:relative;
            height:100%;
            display:block;
            width:100%;
            }
    }