/*************** primary colors  **************/
/*************** primary colors End **************/
.intern .dropdown {
  background-color: #009688; }
  .intern .dropdown .user-profile:hover, .intern .dropdown .user-profile-active:hover {
    background-color: #00897b; }
  .intern .dropdown .user-profile-active {
    background-color: #00897b; }
  .intern .dropdown .dropdown-container {
    background-color: #009688;
    border-top: 1px solid #00695c; }
    .intern .dropdown .dropdown-container li:hover {
      background-color: #00897b; }
    .intern .dropdown .dropdown-container li:active {
      background-color: #00897b; }
    .intern .dropdown .dropdown-container li:visited {
      background-color: #00897b; }
    .intern .dropdown .dropdown-container li a {
      color: white; }

@keyframes animate {
  from {
    height: 0px;
    opacity: 0; }
  to {
    height: 90px;
    opacity: 1; } }

.dropdown {
  width: 175px;
  height: auto; }
  .dropdown .user-profile, .dropdown .user-profile-active {
    height: 60px;
    width: 100%;
    display: table;
    cursor: pointer;
    font-size: 14px;
    outline: none; }
    .dropdown .user-profile .userImage, .dropdown .user-profile-active .userImage {
      height: 30px;
      width: 30px;
      padding-right: 10px;
      border-radius: 15px; }
    .dropdown .user-profile .material-icons, .dropdown .user-profile-active .material-icons {
      transition: 1s;
      padding: 0; }
    .dropdown .user-profile span, .dropdown .user-profile-active span {
      vertical-align: middle;
      display: table-cell;
      padding-left: 15px; }
  .dropdown .dropdown-container {
    width: 100%;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    animation-name: animate;
    animation-duration: 0.5s; }
    .dropdown .dropdown-container li {
      cursor: pointer;
      padding: 12px 16px;
      list-style: none; }
      .dropdown .dropdown-container li a {
        text-decoration: none;
        display: block; }
