@import '../../style/color.scss';
.intern {
    .dropdown {
        background-color: $teal5;
        .user-profile {
            &:hover {
                background-color: $teal6;
            }
        }
        .user-profile-active {
            background-color: $teal6;
        }
        .dropdown-container {
            background-color: $teal5;
            border-top: 1px solid $teal8;
            li {
                &:hover {
                    background-color: $teal6;
                }
                &:active {
                    background-color: $teal6;
                }
                &:visited {
                    background-color: $teal6;
                }
                a {
                    color: white;
                }
            }
        }
    }
}