@import './dropdown.intern.scss';
@keyframes animate {
    from { height: 0px; opacity :0; }
    to { height: 90px; opacity: 1;}

}
.dropdown {
    position: fixed;
    top: 60px;
    right: 50px;
    display: none;
    min-width: 175px !important;
    max-width: 175px !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation-name: animate;
    animation-duration: 0.5s;
    hr {
        display: block;
        height: 1px;
        border: 0;
        margin: 0;
        padding: 0;
    }
    li {
        cursor: pointer;
        padding: 12px 16px;
        list-style: none;
        a {
            //padding: 8px;
            text-decoration: none;
            display:block;

        }
    }
}