/*************** primary colors  **************/
/*************** primary colors End **************/
.intern .dropdown {
  background-color: #009688; }
  .intern .dropdown .user-profile:hover {
    background-color: #00897b; }
  .intern .dropdown .user-profile-active {
    background-color: #00897b; }
  .intern .dropdown .dropdown-container {
    background-color: #009688;
    border-top: 1px solid #00695c; }
    .intern .dropdown .dropdown-container li:hover {
      background-color: #00897b; }
    .intern .dropdown .dropdown-container li:active {
      background-color: #00897b; }
    .intern .dropdown .dropdown-container li:visited {
      background-color: #00897b; }
    .intern .dropdown .dropdown-container li a {
      color: white; }
