.EmailDropDown:before {
  content: "";
  width: 0;
  height: 0;
  right: 0;
  bottom: 100%;
  left: 95px;
  position: absolute;
  border-bottom: 7px solid #f9f9f9;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent; }

.EmailDropDown {
  margin-top: 6vh;
  min-width: 140px;
  right: 170px;
  background: #f9f9f9;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .EmailDropDown .divider {
    height: 1px;
    width: 100%;
    display: block;
    /* for use on default inline elements like span */
    margin: 0;
    overflow: hidden;
    background-color: orange; }
  .EmailDropDown a {
    color: black;
    padding-left: 7px;
    text-decoration: none;
    display: block;
    padding-top: 8px;
    min-height: 30px;
    font-size: 12px; }
  .EmailDropDown :hover {
    color: blue; }
