/*************** primary colors  **************/
/*************** primary colors End **************/
.intern .body {
  background-color: #ecf0f1;
  color: black; }

.intern .body h1 {
  color: blue; }
