@import '../../style/color.scss';

.intern {
.navbar {
        background-color:$teal5;
        .navbar-brand {
            color:$white;
        }
    }

    .badge1 {
        .material-icons {
            color:$white;
        }
    
        :hover {
            color: $black;
        }

        
        }
.badge1[data-badge]:after {
   background:green;
   color:$white;
   box-shadow:0 0 1px #333;
}

 .badge2 {
    .material-icons {
            color:$white;
        }
    :hover {
        color:$black;
        }
        :active {
             color:$black;
        }
     }
.badge2[data-badge]:after {

   background:green;
   color:$white;
   box-shadow:0 0 1px #333;
}
}
