/*************** primary colors  **************/
/*************** primary colors End **************/
.intern .navbar {
  background-color: #009688;
  color: white; }

.intern .navbar .navbar-right .userProfile {
  background-color: inherit;
  color: white; }

.intern .navbar .navbar-right .userProfile:hover {
  background-color: #00897b; }

.intern .navbar .navbar-right .userProfile:active {
  background-color: #00897b; }
