 @import './header.intern.css';
 @import 'https://fonts.googleapis.com/icon?family=Material+Icons';
 
 .navbar {
     position: fixed;
     height: 60px;
     width: 100%;
     top: 0;
    // overflow: hidden;
     left: 0;
    // z-index: 999;
     .navbar-brand {
         height: inherit;
         float:left;
         .material-icons {
             cursor: pointer;
             margin-left: 20px;
             margin-right: 30px;
         }
         .logo {
             text-transform: uppercase;
         }
     }
     .navbar-right {
          float:right;
          margin-right:50px;
          height: inherit;
     }
 }
 /*  for small devices */