@import './sidebar.intern.scss';
@import './sidebar.jobby.scss';


.sidebar  {
            position:relative;
            height:100%;
            width:200px;
            display:block;
            a {
                padding: 10px 8px 10px 16px;
                text-decoration: none;
                font-size: 18px;
                display: block;
                transition: 0.3s;
            }
              i {
                   float:right;
                }
          .divider {
                height: 1px;
                width:100%;
                display:block; /* for use on default inline elements like span */
                margin: 0;
                overflow: hidden;
                background-color: rgb(255, 165, 0);
            }
        }




