
        .content {
            height:100%;
            display:block;
            width:100%;
            padding-left:10px;
            padding-right:10px;
            margin-left: 200px;
            transition: margin-left .5s;
            z-index:-1;
            }
