/*************** primary colors  **************/
/*************** primary colors End **************/
.intern .content {
  background-color: #ecf0f1;
  color: black; }
  .intern .content h1 {
    color: blue; }
