.profile {
  margin-top: 2%;
  border: 3px solid #95a5a6;
  font-weight: 400;
  border-radius: 3px;
  font-size: 18px; }

.profile-h3 {
  text-align: center;
  font-weight: 400; }

.profile-inner {
  border: 1px solid #e3e3e3;
  padding: 10px;
  margin: 8px; }

.form-group {
  margin-top: 10px; }

.input-sep {
  margin-top: 10px; }

.profile-btn {
  margin-top: 10px; }

.profile-image {
  width: 20%;
  border-radius: 50px;
  border: 2px solid #e3e3e3;
  padding: 4px; }
